*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
  width: 500px;
    margin: auto;
    
    
}

#header{
   text-align: center;
   color: rgb(148, 62, 148)
   
}

#submıt{
    background-color: brown;
    color: aliceblue;

    width: 90px;
    height: 30px;
    margin: auto;
 
    margin-top: 15px;
    margin-left: 45px;

}